.price {
    font-weight: bold;

    &.disabled {
        color: gray;
        font-weight: unset;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    height: 100%;

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    &__title {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 0px;
    }

    &__category {
        color: gray;
    }
}