.list {
    &__title {
        font-size: 2em;
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-auto-rows: 1fr;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1400px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
