.header {
    height: 70px;
    width: 100%;
    background-color: orange;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;

    &__brand {
        color: #fff;
        text-decoration: none;
    }

    &__brand * {
        margin: 0;
        font-weight: bold;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin: 0;
        list-style: none;
    }
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 25px;
}

.active-link {
    color: #000;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: .1);
}