<header class="header">
    <nav class="navbar">
        <a routerLink="" class="navbar__brand"><h1>{{ title | uppercase }}</h1></a>
        <ul class="navbar__nav">
            <li class="nav-item">
                <a routerLink="/products" routerLinkActive="active-link" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a routerLink="/cart" routerLinkActive="active-link" class="nav-link">Cart</a>
            </li>
        </ul>
    </nav>
</header>