.item {
    display: grid;
    grid-template-columns: 60px repeat(4, 1fr) 20px;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;

    &__img {
        width: 50px;
    }

    &__img > img {
        width: 100%;
    }

    &__title {
        margin: 0;
        text-decoration: underline;
        cursor: pointer;
    }

    &__quantity {
        width: 50px;
    }

    &__remove {
        color: #f00;
        cursor: pointer;
    }
}